html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  text-align: center;
}

h1 {
  margin-top: 0;
  margin-bottom: 0px;
}
h5 {
  margin: 0;
  padding: -1em;
}
.navbar {
  background: #00ffff;
  width: 100vw;
}

.card {
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  width: 25em;
  height: 20em;
  margin-bottom: 1em;
}

.footer {
  background: aqua;
  width: 100vw;
  margin-bottom: 1em;
  margin-top: 1em;
}

.button {
  background: aqua;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}

.image-container {
  width: 15em;
  height: 11em;
  margin: 0 auto;
  margin-bottom: -3em;
}
.flag {
  width: 60%;
  height: auto;
  margin-top: 1em;
}
.data-container {
}

.heading-container {
  display: flex;
  align-items: baseline;
  height: 2em;
  margin-left: 1em;
}

.text{
  margin-left: 5px
}