.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  background: aliceblue;
  border-radius: 3em;
  margin: 2em 2em;
  height: 90vh;
}

.heading{
  margin-top: 2em
}

.header{
  padding-top: 1em;
}
.subheading{
  margin-top: 5em;
}

.input {
  border-radius: 1em;
  border: none;
  padding: 1em;
  margin: 8em 1em;
  margin-bottom: 2em;
}

.button {
  background: red;
  border-radius: 1em;
  padding: 1em;
  border: none;
  color: seashell;
  width: 18em;
}

/* ******Color boxes */

.grid{
  margin: 2em;
  display: grid;
  grid-template-columns: repeat(8,1fr);
  gap: 1px
}

.grid-box{
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white
}

.even{
  background: green;
}

.odd{
  background: orange;
}
.prime{
  background: red;
}

